{% if categories %}
    {% load catalog_tags %}
    <div class="col-row">
        {% for obj in categories|slice:":4" %}
            {% include 'catalog/inclusions/_include_title_link_4.html' with title=obj.text_link|default:obj link=obj.get_absolute_url objects=obj.games_published.all|mobile_order_filter:request|slice:":4" %}
        {% endfor %}
    </div>
    <div class="col-row">
        {% for obj in categories|slice:"4:" %}
            {% include 'catalog/inclusions/_include_title_link_4.html' with title=obj.text_link|default:obj link=obj.get_absolute_url objects=obj.games_published.all|mobile_order_filter:request|slice:":4" %}
        {% endfor %}
    </div>
{% endif %}