//colors
$main-color:#007aae;
$main-color_active:#FF616E;

$sub-color:#1EB6E8;
$sub-color_active:#42D0FF;

$error:#EB5757;
$success:#6ABE19;

//text colors
$main-font-color:#000;

//Backgrounds
$main-bg:#fff;

// Fonts
$main-font: "MyriadPro", Arial, Helvetica, sans-serif;