html{
	height: 100%;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 16px;
	line-height: 1.2;
	min-width: 320px;
	background: $main-bg;
	background-size: cover;
	font-family: $main-font;
	color: $main-font-color;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	@include breakpoint($tablet) {
		&.mobile-menu-open{
			overflow: hidden;
		}
	}
	@include breakpoint($mobile) {
		font-size: 14px;
	}
}
header,
nav,
section,
article,
aside,
footer,
figure,
menu{
	display: block;
}
img{
	border: none;
	user-select: none;
}
*, *:after, *:before{
	outline: none;
	box-sizing: border-box;
}

a{
	color: inherit;
	text-decoration: none;
}

p{
	margin: 0 0 19px;
}

[class^="icon-"]:before, [class*=" icon-"]:before{
	margin: 0;
	width: auto;
}

.clear:after{
	content: '';
	clear: both;
	display: block;
}
.clear-content{
	overflow: hidden;
}
.pull-left{float: left;}
.pull-right{float: right;}

#wrapper{
	display: flex;
	overflow: hidden;
	min-height: 100%;
	position: relative;
	flex-direction: column;
	@include breakpoint($tablet) {
		padding: 93px 0 0;
	}
	@include breakpoint($mobile) {
		padding: 80px 0 0;
	}
	@include breakpoint($mobile-small) {
		padding-top: 60px;
	}
}
#main{
	flex: 5000 1 auto;
}
.container{
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1326px;
	@include breakpoint($mobile-small) {
		padding-left: 10px;
		padding-right: 10px;
	}
	@media screen and (max-width: 1366px) {
		max-width: 1220px;
	}
	@media screen and (max-width: 1220px) {
		max-width: 1024px;
	}
	.container{
		padding-left: 0;
		padding-right: 0;
	}
}

.col-row{
	margin-left: -8px;
	margin-right: -8px;
	&.offset-20{
		margin-left: -10px;
		margin-right: -10px;
		> .col{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&:after{
		content: '';
		clear: both;
		display: block;
	}
	> .col{
		float: left;
		padding-left: 8px;
		padding-right: 8px;
		&.l-1{width: 8.33%;}
		&.l-2{width: 16.66%;}
		&.l-3{width: 25%;}
		&.l-4{width: 33.3%;}
		&.l-5{width: 41.66%;}
		&.l-6{width: 50%;}
		&.l-7{width: 58.33%;}
		&.l-8{width: 66.66%;}
		&.l-9{width: 75%;}
		&.l-10{width: 83.33%;}
		&.l-11{width: 91.66%;}
		&.l-12{width: 100%;}
	}
	@include breakpoint($tablet) {
		> .col{
			&.t-1{width: 8.33%;}
			&.t-2{width: 16.66%;}
			&.t-3{width: 25%;}
			&.t-4{width: 33.3%;}
			&.t-5{width: 41.66%;}
			&.t-6{width: 50%;}
			&.t-7{width: 58.33%;}
			&.t-8{width: 66.66%;}
			&.t-9{width: 75%;}
			&.t-10{width: 83.33%;}
			&.t-11{width: 91.66%;}
			&.t-12{width: 100%;}
		}
	}
	@include breakpoint($mobile) {
		> .col{
			&.m-1{width: 8.33%;}
			&.m-2{width: 16.66%;}
			&.m-3{width: 25%;}
			&.m-4{width: 33.3%;}
			&.m-5{width: 41.66%;}
			&.m-6{width: 50%;}
			&.m-7{width: 58.33%;}
			&.m-8{width: 66.66%;}
			&.m-9{width: 75%;}
			&.m-10{width: 83.33%;}
			&.m-11{width: 91.66%;}
			&.m-12{width: 100%;}
		}
	}
	@include breakpoint($mobile-small) {
		> .col{
			&.ms-1{width: 8.33%;}
			&.ms-2{width: 16.66%;}
			&.ms-3{width: 25%;}
			&.ms-4{width: 33.3%;}
			&.ms-5{width: 41.66%;}
			&.ms-6{width: 50%;}
			&.ms-7{width: 58.33%;}
			&.ms-8{width: 66.66%;}
			&.ms-9{width: 75%;}
			&.ms-10{width: 83.33%;}
			&.ms-11{width: 91.66%;}
			&.ms-12{width: 100%;}
		}
	}
}

.resolution-tablet{
	display: none;
	@include breakpoint($tablet) {
		display: block;
	}
}
.resolution-mobile{
	display: none;
	@include breakpoint($mobile) {
		display: block;
	}
}
.resolution-mobile-small{
	display: none;
	@include breakpoint($mobile-small) {
		display: block;
	}
}

.hide-on-t{
	@include breakpoint($tablet) {
		display: none !important;
	}
}
.show-on-t{
	@include rem($tablet) {
		display: none !important;
	}
}
.hide-on-m{
	@include breakpoint($mobile) {
		display: none !important;
	}
}
.show-on-m{
	@include rem($mobile) {
		display: none !important;
	}
}
.hide-on-ms{
	@include breakpoint($mobile-small) {
		display: none !important;
	}
}
.show-on-ms{
	@include rem($mobile-small) {
		display: none !important;
	}
}

.btn{
	margin: 0;
	z-index: 10;
	color: #fff;
	border: none;
	height: auto;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	user-select: none;
	padding: 20px 20px;
	position: relative;
	text-align: center;
	font-style: normal;
	white-space: nowrap;
	font-family: inherit;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	letter-spacing: 0.02em;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	transition: all .35s ease;
	i, img{
		margin: 0 12px 0 -6px;
		display: inline-block;
		vertical-align: middle;
	}
	&:disabled, &.disabled{
		box-shadow: none !important;
		pointer-events: none !important;
		background:rgba(#000,.2) !important;
	}
	&.block-btn{
		width: 100%;
		display: block;
	}
	&.small{
		font-size: 15px;
		padding: 10px 38px;
		@include breakpoint($mobile) {
			line-height: 19px;
			padding: 8px 15px;
		}
	}
	&.medium{
		padding: 15px 46px;
		@include breakpoint($mobile-small) {
			padding-left: 25px;
			padding-right: 25px;
		}
	}
	@include breakpoint($mobile) {
		padding: 15px 20px;
	}
}
.btn-default{
	background: $main-color;
	box-shadow: 0 4px 9px rgba($main-color,.4);
	&:hover, &:focus, &:active{
		background: $main-color_active;
	}
}
.btn-sub{
	background: $sub-color;
	box-shadow: 0 4px 9px rgba($sub-color,.4);
	&:hover, &:focus, &:active{
		background: $sub-color_active;
	}
}

.slick-list,
.slick-slide{
	overflow: hidden;
}

.slick-slide{float: left;}

.tab-body{
	overflow: hidden;
	position: relative;
}
.tab{
	opacity: 0;
	width: 100%;
	height: 100%;
	top: -9999px;
	left: -9999px;
	position: absolute;
	transform: translateY(-100%);
	transition: all 0s ease .35s, opacity .35s ease;
	&.active{
		top: 0;
		left: 0;
		opacity: 1;
		z-index: 10;
		position: relative;
		transform: translateY(0);
		transition: transform .35s ease, opacity .35s ease;
	}
}

.right-place{
	width: 164px;
	float: right;
	margin: 0 0 0 30px;
	.place-block{
		margin: 0;
		width: auto;
		min-height: 604px;
	}
	.adsbygoogle{
		margin: 0;
		max-height: 602px;
		min-height: 602px;
		height: 602px !important;
	}
}

.place-block{
	display: flex;
	color: #454545;
	font-size: 18px;
	min-height: 92px;
	max-width: 730px;
	margin: 20px auto;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	// border: 2px solid #cfcfcf;
	+ .default-section{
		padding-top: 10px;
	}
}

.default-section{
	padding: 25px 0 40px;
}

.games-slider{
	margin: 0 0 10px;
	position: relative;
	.slick-arrow{
		top: 0;
		bottom: 0;
		z-index: 50;
		opacity: .5;
		width: 70px;
		border: none;
		cursor: pointer;
		overflow: hidden;
		background: none;
		position: absolute;
		text-indent: -9999px;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
		transition: all .35s ease;
		&:hover{
			opacity: 1;
		}
		&:after{
			top: 50%;
			width: 30px;
			height: 30px;
			content: '';
			margin-top: -15px;
			position: absolute;
			border-color: #fff;
			border-style: solid;
			transform: rotate(45deg);
		}
	}
	.slick-prev{
		left: 0;
		&:after{
			left: 50%;
			margin-left: -10px;
			border-width: 0 0 3px 3px;
		}
	}
	.slick-next{
		right: 0;
		&:after{
			right: 50%;
			margin-right: -10px;
			border-width: 3px 3px 0 0;
		}
	}
	.game-slide{
		color: #fff;
		display: flex;
		padding: 0 70px;
		min-height: 172px;
		align-items: center;
		background-size: cover;
		justify-content: flex-start;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		.title{
			display: block;
			font-size: 36px;
			text-transform: uppercase;
			text-decoration: underline;
		}
		&:hover{
			.title{
				text-decoration: none;
			}
		}
	}
}

.game-visual{
	a{
		display: block;
		img{
			width: 100%;
			display: block;
			object-fit: cover;
		}
	}
}

.games-list-holder{
	margin: 0 0 28px;
	position: relative;
	padding: 0 5px 10px;
	// border: 1px solid $main-color;
	&.special{
		border: none;
		max-width: none;
		.games-list{
			@include breakpoint($mobile) {
				flex-wrap: wrap;
				overflow: visible;
				margin-left: -4px;
				margin-right: -4px;
			}
			> li{
				width: 12.5%;
				@include breakpoint($tablet) {
					width: 16.6666%;
				}
				@include breakpoint($mobile) {
					width: 20%;
					&:first-child{
						margin-left: 0;
					}
				}
				@include breakpoint($mobile-small) {
					width: 33.3%;
				}
			}
		}
	}
	h2, .h2{
		display: block;
		line-height: 1;
		font-size: 24px;
		margin: 0 0 15px;
		color: $main-color;
		@include breakpoint($mobile) {
			font-size: 20px;
			margin-bottom: 10px;
		}
	}
	h3, .h3{
		color: #fff;
		display: block;
		line-height: 1;
		font-size: 18px;
		border-radius: 8px;
		margin: 0 -5px 23px;
		font-weight: normal;
		padding: 10px 35px 6px;
		background: $main-color;
		a{
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		&:after{
			content: '';
			clear: both;
			display: block;
		}
		.more{
			float: right;
			font-size: 18px;
			margin: 4px 35px 0 20px;
			@include breakpoint($mobile-small) {
				margin-right: 0;
			}
		}
	}
	.games-list{
		@include breakpoint($mobile) {
			overflow-x: auto;
			flex-wrap: nowrap;
			overflow-y: hidden;
			margin-left: -20px;
			margin-right: -20px;
			scroll-behavior: smooth;
			-webkit-overflow-scrolling: touch;
		}
		> li{
			width: 50%;
			@include breakpoint($mobile) {
				width: 20vw;
				flex-shrink: 0;
				&:first-child{
					margin-left: 20px;
				}
				&:last-child{
					padding-right: 24px;
					width: calc(20vw + 20px);
				}
			}
			@media screen and (max-width: 540px) {
				width: 30vw;
				&:last-child{
					width: calc(30vw + 20px);
				}
			}
		}
	}
}

.games-list{
	padding: 0;
	display: flex;
	margin: 0 -6px;
	flex-wrap: wrap;
	font-size: 14px;
	list-style: none;
	line-height: 1.2;
	align-items: flex-start;
	justify-content: flex-start;
	@include breakpoint($desktop) {
		margin-left: -4px;
		margin-right: -4px;
	}
	> li{
		width: 134px;
		padding: 0 6px;
		margin: 0 0 12px;
		@media screen and (max-width: 1366px){
			width: 125px;
		}
		@media screen and (max-width: 1220px){
			width: 122px;
		}
		@include breakpoint($desktop) {
			width: 121px;
			padding-left: 4px;
			padding-right: 4px;
			margin-bottom: 8px;
		}
		@include breakpoint($mobile-small) {
			width: 33.3%;
		}
		&.desktop-only{
			a{
				html.mobile &{
					.visual{
						background: url(../images/no-mobile.png) 50% 50% / 81px 81px no-repeat;
						img{
							opacity: .25;
						}
					}
				}
			}
		}
	}
	a{
		display: block;
		padding: 16px 0 0;
		position: relative;
		text-align: center;
		transition: all .35s ease;
		&:hover{
			transform: translateY(-4px);
			.visual{
				box-shadow: 0 0 32px 0 rgba(#000,.22);
				.btn{
					opacity: 1;
				}
			}
		}
	}
	.visual{
		display: block;
		margin: 0 0 4px;
		overflow: hidden;
		border-radius: 8px;
		position: relative;
		transition: all .35s ease;
		&:before{
			content: '';
			display: block;
			padding: 100% 0 0;
		}
		img{
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			position: absolute;
			transition: all .35s ease;
		}
		.btn{
			left: 50%;
			opacity: 0;
			bottom: 9px;
			font-size: 14px;
			line-height: 17px;
			border-radius: 6px;
			position: absolute;
			font-weight: normal;
			padding: 4px 10px 2px;
			transition: all .35s ease;
			transform: translateX(-50%);
			max-width: calc(100% - 18px);
		}
	}
	.info-panel{
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		font-size: 12px;
		line-height: 1.2;
		position: absolute;
		align-items: center;
		justify-content: space-between;
		.rate{
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}
	.text{
		display: block;
		font-size: 14px;
		line-height: 1.2;
		padding: 5px 8px;
	}
	.icon-star{
		width: 14px;
		height: 12px;
		margin: 0 4px 0 0;
		display: inline-block;
		vertical-align: middle;
		background: url(../images/icon-star.png) 50% 50% / contain no-repeat;
	}
}

.tags-list{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 17px 3px 3px;
	margin: 0 -18px 0 -19px;
	@include breakpoint($mobile) {
		margin-left: -10px;
		margin-right: -10px;
	}
	@include breakpoint($mobile-small) {
		margin-left: -5px;
		margin-right: -5px;
	}
	> li{
		margin: 0 18px 8px 19px;
		@include breakpoint($mobile) {
			margin: 0 10px 10px;
		}
		@include breakpoint($mobile-small) {
			margin: 0 5px 10px;
		}
	}
	a{
		color: $main-color;
		&:hover{
			text-decoration: underline;
		}
		&.red{
			color: #fff;
			background: #ca1b2b;
			border-color: #ca1b2b;
			&:hover{
				background: darken(#ca1b2b,10);
				border-color: darken(#ca1b2b,10);
			}
		}
	}
	&.bordered{
		color: #000;
		font-size: 14px;
		line-height: 1.2;
		text-transform: uppercase;
		@include rem($mobile) {
			margin-left: -4px;
			margin-right: -4px;
		}
		@include breakpoint($mobile) {
			overflow: auto;
			flex-wrap: nowrap;
			overflow-y: hidden;
			white-space: nowrap;
			scroll-behavior: smooth;
			-webkit-overflow-scrolling: touch;
		}
		> li{
			@include rem($mobile) {
				margin-left: 4px;
				margin-right: 4px;
			}
		}
		a{
			display: flex;
			color: inherit;
			overflow: hidden;
			background: #fff;
			position: relative;
			align-items: center;
			border-radius: 14px;
			padding: 8px 14px 4px;
			justify-content: flex-start;
			box-shadow: 0 1px 5px 0 rgba(#000,.22);
		}
		.tag-visual{
			width: 28px;
			height: 28px;
			margin: -8px 10px -4px -14px;
			img{
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				border-radius: 14px 0 0 14px;
			}
		}
	}
}

.text-content-tabset{
	margin: 20px 0 30px;
	.tab-controls{
		margin: 0;
		padding: 0;
		z-index: 15;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		position: relative;
		align-items: flex-end;
		justify-content: flex-start;
		li{
			&.active{
				a{
					color: #fff;
					text-decoration: none;
					border-color: #cfcfcf;
					background: $main-color;
					@include rem($mobile) {
						padding-left: 61px;
						padding-right: 61px;
					}
				}
			}
		}
		a{
			margin: 0;
			font-size: 18px;
			line-height: 20px;
			margin: 2px 0 -2px;
			color: $main-color;
			font-weight: normal;
			vertical-align: top;
			border-style: solid;
			display: inline-block;
			padding: 21px 28px 16px;
			transition: all .35s ease;
			border-color: transparent;
			text-decoration: underline;
			border-radius: 4px 4px 0 0;
			border-width: 2px 2px 0 2px;
			@include breakpoint($mobile) {
				font-size: 16px;
				line-height: 20px;
				padding: 12px 20px 8px;
			}
			@include breakpoint($mobile-small) {
				font-size: 14px;
				line-height: 1.2;
				padding-left: 10px;
				padding-right: 10px;
			}
			&:hover{
				text-decoration: none;
			}
		}
	}
	.text-content{
		margin-top: 0;
		border: 2px solid #cfcfcf;
		@include rem($mobile) {
			padding: 36px 34px 7px 41px;
		}
		@include breakpoint($mobile) {
			padding: 20px;
		}
		@include breakpoint($mobile-small) {
			padding: 10px;
		}
		.visual{
			&.pull-right{
				margin-right: 0;
				margin-top: 13px;
			}
		}
	}
}

.text-content{
	margin: 35px 0 0;
	// padding: 50px 40px;
	// border-radius: 4px;
	// border: 2px solid #cfcfcf;
	// @include breakpoint($mobile) {
	// 	padding: 20px;
	// }
	// @include breakpoint($mobile-small) {
	// 	padding: 10px;
	// }
	+ .place-block{
		margin-top: 30px;
	}
	&__heading{
	}
	.visual{
		@include breakpoint($mobile-small) {
			display: none;
		}
		&.pull-right{
			margin-top: 58px;
			margin-left: 40px;
			margin-right: 17px;
			@include breakpoint($mobile) {
				margin-top: 0;
				margin-right: 0;
				margin-left: 20px;
			}
		}
		img{
			display: block;
			max-width: 100%;
		}
	}
	h3, .h3{
		display: block;
		font-size: 32px;
		line-height: 1.2;
		color: $main-color;
		margin: 20px 0 15px;
		font-weight: normal;
	}
	h3, .h4{
		display: block;
		font-size: 28px;
		line-height: 1.2;
		color: $main-color;
		margin: 20px 0 15px;
		font-weight: normal;
	}
}

.breadcrumbs{
	padding: 0;
	display: flex;
	font-size: 18px;
	flex-wrap: wrap;
	line-height: 1.2;
	list-style: none;
	color: $main-color;
	margin: -2px 0 9px;
	align-items: center;
	justify-content: flex-start;
	> li{
		&:before{
			content: '›';
			margin: 0 2px;
		}
		&:first-child{
			&:before{
				display: none;
			}
		}
	}
	a{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}

.game-preview-title{
	line-height: 1;
	font-size: 30px;
	margin: 0 0 6px;
	color: $main-color;
	@include breakpoint($mobile) {
		font-size: 24px;
	}
}

.hide-on-m-only{
	html.mobile &{
		display: none !important;
	}
}

.show-on-m-only{
	html:not(.mobile) &{
		display: none !important;
	}
}

.main-preview-game{
	margin: 0 0 14px;
	h2, h1, &__h2{
		line-height: 1;
		font-size: 30px;
		margin: 0 0 6px;
		color: $main-color;
		@include breakpoint($mobile) {
			font-size: 24px;
		}
	}
	.game{
		position: relative;
		&:before{
			content: '';
			display: block;
			padding: 68.408% 0 0;
		}
		&.desktop-only{
			html.mobile &{
				&:before{
					display: none;
				}
			}
			.game-frame,
			.game-preloader{
				html.mobile &{
					display: none !important;
				}
			}
			.game-error{
				html.mobile &{
					display: flex;
				}
			}
		}
	}
	.game-frame{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 50;
		display: none;
		position: absolute;
		img,
		iframe,
		object{
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: none;
			display: block;
			position: absolute;
		}
	}
	.game-preloader{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		padding: 11px 30px 0;
		background: linear-gradient(to bottom, #42b7ec 200px, #fff);
		@include breakpoint($tablet) {
			background: linear-gradient(to bottom, #42b7ec 150px, #fff);
		}
		@include breakpoint($mobile) {
			padding: 15px;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			background: linear-gradient(to bottom, #42b7ec, #fff);
		}
		.fgb-logo{
			width: 250px;
			margin: 0 auto 19px;
			@include breakpoint($tablet) {
				width: 180px;
			}
			@include breakpoint($mobile) {
				display: none;
			}
			img{
				width: 100%;
				display: block;
			}
		}
		.game-preview{
			width: 107px;
			overflow: hidden;
			position: relative;
			border-radius: 4px;
			margin: 0 auto 17px;
			@include breakpoint($tablet) {
				width: 80px;
				margin-bottom: 10px;
			}
			@include breakpoint($mobile) {
				width: 107px;
				margin-bottom: 25px;
			}
			@include breakpoint($mobile-small) {
				width: 80px;
				margin-bottom: 20px;
			}
			&:before{
				content: '';
				display: block;
				padding: 100% 0 0;
			}
			img{
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
			}
		}
		.btn-holder{
			text-align: center;
		}
		.btn-play{
			color: #fff;
			font-size: 36px;
			min-width: 216px;
			line-height: 41px;
			font-weight: bold;
			background: #39ab03;
			border-radius: 10px;
			padding: 16px 30px 10px;
			border: 5px solid #2a8200;
			text-transform: uppercase;
			@include breakpoint($tablet) {
				min-width: 200px;
				font-size: 28px;
				line-height: 36px;
				padding: 12px 20px 6px;
			}
			@include breakpoint($mobile-small) {
				font-size: 20px;
				line-height: 1.5;
				min-width: 180px;
			}
			&:hover{
				background: darken(#39ab03,5);
			}
		}
	}
	.game-error{
		bottom: 0;
		z-index: 150;
		display: none;
		margin: 0 0 30px;
		position: relative;
		align-items: center;
		justify-content: center;
		&__visual{
			width: 54px;
			height: 54px;
			flex-shrink: 0;
			margin: 0 10px 0 0;
			background: url(../images/no-mobile-blue.png) 50% 50% / contain no-repeat;
		}
		&__text{
			width: 100%;
			display: block;
			max-width: 200px;
			@include breakpoint($mobile) {
				max-width: 160px;
			}
		}
	}
	&__info{
		display: flex;
		font-size: 14px;
		padding: 15px 0;
		line-height: 1.2;
		align-items: center;
		justify-content: space-between;
		@include breakpoint($tablet) {
			display: block;
		}
		.rating-holder{
			text-align: center;
			@include breakpoint($tablet) {
				margin: 0 0 15px;
			}
		}
		.rating{
			margin: 0 auto 5px;
		}
	}
	&__controls-list{
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		align-items: center;
		margin: 0 -6px -10px;
		justify-content: flex-end;
		@include breakpoint($tablet) {
			justify-content: center;
		}
		> li{
			padding: 0 6px 10px;
			@include breakpoint($mobile) {
				width: 50%;
			}
		}
		a{
			display: flex;
			text-align: center;
			align-items: center;
			white-space: nowrap;
			justify-content: flex-start;
			@include breakpoint($mobile) {
				text-align: left;
			}
			&:hover{
				color: #007aae;
				.blue{
					color: #1496ee;
				}
				.red{
					color: #fe6401;
				}
			}
			.icon{
				z-index: 15;
				flex-shrink: 0;
				margin: 0 10px 0 0;
				position: relative;
				@include breakpoint($mobile) {
					width: 32px;
				}
				img{
					display: block;
					margin: 0 auto;
				}
			}
		}
		.text{
			z-index: 10;
			position: relative;
			margin: 0 0 0 -20px;
			border-radius: 12px;
			padding: 6px 7px 2px 17px;
			&:after{
				top: 1px;
				left: 1px;
				right: 1px;
				bottom: 1px;
				content: '';
				z-index: -10;
				background: #fff;
				position: absolute;
				border-radius: 10px;
			}
			&.blue{
				background: -moz-linear-gradient(-45deg, rgba(20,150,238,0) 0%, rgba(20,150,238,1) 100%);
				background: -webkit-linear-gradient(-45deg, rgba(20,150,238,0) 0%,rgba(20,150,238,1) 100%);
				background: linear-gradient(135deg, rgba(20,150,238,0) 0%,rgba(20,150,238,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001496ee', endColorstr='#1496ee',GradientType=1 );
			}
			&.red{
				background: -moz-linear-gradient(-45deg, rgba(254,100,1,0) 0%, rgba(254,100,1,1) 100%);
				background: -webkit-linear-gradient(-45deg, rgba(254,100,1,0) 0%,rgba(254,100,1,1) 100%);
				background: linear-gradient(135deg, rgba(254,100,1,0) 0%,rgba(254,100,1,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fe6401', endColorstr='#fe6401',GradientType=1 );
			}
		}
	}
}

.main-preview-game-slider{
	margin: 0 0 14px;
	position: relative;
	.visual{
		&:hover{
			+ .switcher{
				li{
					&:after{
						opacity: 0;
						transition: all .35s ease !important;
					}
				}
			}
		}
		a{
			display: block;
			min-height: 300px;
			position: relative;
			&:before{
				content: '';
				display: block;
				padding: 32.3275% 0 0;
			}
			img{
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
			}
		}
	}
	.switcher{
		right: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		color: #fff;
		display: flex;
		max-width: 100%;
		font-size: 14px;
		list-style: none;
		line-height: 1.2;
		position: absolute;
		align-items: stretch;
		background: $main-color;
		transition: all .35s ease;
		justify-content: flex-end;
		text-transform: uppercase;
		@include breakpoint($mobile-small) {
			left: 0;
			font-size: 12px;
			max-width: none;
		}
		li{
			width: 94px;
			display: flex;
			cursor: pointer;
			min-height: 44px;
			text-align: center;
			position: relative;
			align-items: center;
			padding: 8px 10px 4px;
			justify-content: center;
			transition: all .35s ease;
			@include breakpoint($mobile-small) {
				width: 25%;
			}
			&.active{
				background: #1F2833;
				&:after{
					width: 100%;
					transition: width 3.5s linear;
				}
			}
			&:after{
				left: 0;
				width: 0;
				bottom: 0;
				content: '';
				height: 2px;
				background: #fff;
				position: absolute;
				transition: width .2s linear;
			}
		}
	}
	.item{
		position: relative;
		h2, .h2{
			top: 50%;
			left: 50%;
			color: #fff;
			display: block;
			line-height: 1;
			font-size: 48px;
			position: absolute;
			text-transform: uppercase;
			transition: all .7s ease .35s;
			text-shadow: 2px 2px 5px rgba(#000,.3);
			transform: translate(-50%,-50%) scale(0);
			@include breakpoint($mobile) {
				font-size: 32px;
			}
		}
		&.slick-current{
			h2, .h2{
				transform: translate(-50%,-50%) scale(1);
			}
		}
	}
	.slick-arrow{
		top: 50%;
		margin: 0;
		padding: 0;
		z-index: 50;
		width: 36px;
		height: 36px;
		border: none;
		cursor: pointer;
		overflow: hidden;
		margin: -18px 0 0;
		position: absolute;
		text-indent: -9999px;
		-webkit-appearance: none;
		background: url(../images/slider-arrow.png) 50% 50% / contain no-repeat;
		@include breakpoint($mobile-small) {
			width: 24px;
			height: 24px;
			margin-top: -12px;
		}
		&:after, &:before{
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			position: absolute;
			background-size: contain;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			transition: opacity .35s ease;
		}
		&:after{
			background-image: url(../images/slider-arrow.png);
		}
		&:before{
			opacity: 0;
			transform: rotate(180deg);
			background-image: url(../images/slider-arrow_active.png);
		}
		&:hover{
			&:after{
				opacity: 0;
			}
			&:before{
				opacity: 1;
			}
		}
	}
	.slick-prev{
		left: 14px;
	}
	.slick-next{
		right: 14px;
		transform: rotate(180deg);
	}
}

.paging{
	padding: 0;
	display: flex;
	margin: 0 -5px;
	font-size: 24px;
	list-style: none;
	font-weight: bold;
	line-height: 25px;
	align-items: center;
	justify-content: center;
	@include breakpoint($mobile) {
		margin: 0 -2px;
		font-size: 16px;
		line-height: 20px;
	}
	> li{
		margin: 0 5px;
		@include breakpoint($mobile) {
			margin: 0 2px;
		}
		&.active{
			a{
				color: #fff;
				background: #007aae;
			}
		}
	}
	a{
		display: block;
		min-width: 55px;
		background: #fff;
		border-radius: 8px;
		text-align: center;
		padding: 12px 10px 8px;
		transition: all .35s ease;
		border: 1px solid #007aae;
		@include breakpoint($mobile) {
			min-width: 33px;
			padding: 8px 5px 4px;
		}
		&:hover{
			background: rgba(#007aae,.2);
		}
	}
	span{
		border-bottom: 1px dashed;
	}
}

.load-more-btn{
	margin: 0 0 21px;
	a{
		color: #fff;
		display: block;
		font-size: 18px;
		line-height: 25px;
		font-weight: bold;
		padding: 10px 20px;
		border-radius: 8px;
		text-align: center;
		background: #2293c3;
		transition: all .35s ease;
		@include breakpoint($mobile) {
			font-size: 16px;
			line-height: 20px;
		}
		&:hover{
			background: darken(#2293c3,10);
		}
		span{
			border-bottom: 1px dashed;
		}
	}
}

.page-title{
	font-size: 24px;
	line-height: 1.2;
	margin: 0 0 16px;
	font-weight: bold;
	color: $main-color;
	text-transform: uppercase;
}

.lang-select{
	font-size: 16px;
	position: relative;
	margin: 0 20px 0 0;
	@include breakpoint($mobile) {
		margin: 0 0 20px;
	}
	.current{
		cursor: pointer;
		position: relative;
		vertical-align: top;
		white-space: nowrap;
		padding: 0 22px 0 0;
		display: inline-block;
		.current-lang{
			max-width: 80px;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
			text-overflow: ellipsis;
		}
		&:after{
			top: 50%;
			right: 0;
			content: '';
			margin: -3px 0 0;
			position: absolute;
			transition: all .35s ease;
			border-top: 5px solid #000;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
		}
		img{
			margin: 0 0 0 8px;
			vertical-align: top;
			display: inline-block;
		}
	}
	.drop{
		opacity: 0;
		color: #000;
		width: 480px;
		z-index: 150;
		left: -9999px;
		right: 9999px;
		padding: 10px;
		bottom: 9999px;
		font-size: 14px;
		line-height: 1.2;
		background: #fff;
		position: absolute;
		margin: 0 0 10px -240px;
		border: 2px solid $main-color;
		transition: all 0s ease .35s, opacity .35s ease;
		@include breakpoint($mobile) {
			width: 380px;
			margin-left: -190px;
		}
		@include breakpoint($mobile-small) {
			width: 300px;
			margin-left: -150px;
		}
		ul{
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			margin: 0 -3px -10px;
			align-items: flex-start;
			justify-content: flex-start;
			li{
				width: 25%;
				padding: 0 3px;
				margin: 0 0 10px;
				@include breakpoint($mobile) {
					width: 33.3333%;
				}
				@include breakpoint($mobile-small) {
					width: 50%;
				}
			}
			img{
				margin: 0 4px 0 0;
			}
			a{
				display: flex;
				align-items: center;
				transition: all .35s ease;
				justify-content: flex-start;
				&:hover{
					color: $main-color;
				}
			}
		}
	}
	&.open{
		.current{
			&:after{
				transform: rotate(180deg);
			}
		}
		.drop{
			right: 0;
			left: 50%;
			opacity: 1;
			bottom: 100%;
			transition: opacity .35s ease;
		}
	}
}

.adsbygoogle{
	width: 100%;
	margin: 20px 0;
	min-width: 100%;
	max-height: 100px;
	height: 100px !important;
}


.game-preview-head{
	display: flex;
	font-size: 14px;
	line-height: 1.2;
	margin: 16px 0 20px;
	align-items: flex-start;
	justify-content: flex-start;
	@include breakpoint($mobile-small) {
		font-size: 13px;
		margin-top: 10px;
	}
	&__visual{
		width: 55px;
		flex-shrink: 0;
		overflow: hidden;
		border-radius: 4px;
		position: relative;
		margin: 5px 20px 0 0;
		@include breakpoint($mobile-small) {
			width: 45px;
			margin-right: 15px;
		}
		&:before{
			content: '';
			display: block;
			padding: 100% 0 0;
		}
		img{
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			position: absolute;
		}
	}
	h1{
		color: #007aae;
		margin: 0 0 2px;
		font-size: 30px;
		line-height: 1.2;
		@include breakpoint($mobile-small) {
			font-size: 26px;
		}
	}
	p{
		margin: 0;
	}
}

.video-list{
	padding: 0 73px;
	position: relative;
	margin: 0 -14px 30px;
	align-items: flex-start;
	justify-content: flex-start;
	@include breakpoint($mobile) {
		padding-left: 50px;
		padding-right: 50px;
	}
	@include breakpoint($mobile-small) {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	&:not(.slick-slider){
		display: flex;
		.video-item{
			&:nth-child(3) ~ .video-item{
				display: none;
			}
		}
	}
	.slick-dots{
		padding: 0;
		display: flex;
		list-style: none;
		margin: 20px -5px;
		align-items: center;
		justify-content: center;
		li{
			margin: 0 5px;
		}
		button{
			margin: 0;
			padding: 0;
			width: 12px;
			height: 12px;
			border: none;
			display: block;
			overflow: hidden;
			border-radius: 50%;
			background: #dedede;
			text-indent: -9999px;
			-webkit-appearance: none;
			transition: all .35s ease;
		}
		.slick-active{
			button{
				background: #007aae;
			}
		}
	}
	.slick-arrow{
		top: 50%;
		margin: 0;
		padding: 0;
		width: 38px;
		height: 38px;
		border: none;
		cursor: pointer;
		overflow: hidden;
		margin: -19px 0 0;
		position: absolute;
		text-indent: -9999px;
		-webkit-appearance: none;
		background: url(../images/slider-arrow.png) 50% 50% / contain no-repeat;
		@include breakpoint($mobile-small) {
			width: 24px;
			height: 24px;
			margin-top: -12px;
			display: none !important;
		}
		&:after, &:before{
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			position: absolute;
			background-size: contain;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			transition: opacity .35s ease;
		}
		&:after{
			background-image: url(../images/slider-arrow.png);
		}
		&:before{
			opacity: 0;
			transform: rotate(180deg);
			background-image: url(../images/slider-arrow_active.png);
		}
		&:hover{
			&:after{
				opacity: 0;
			}
			&:before{
				opacity: 1;
			}
		}
	}
	.slick-prev{
		left: 14px;
	}
	.slick-next{
		right: 14px;
		transform: rotate(180deg);
	}
}

.video-item{
	width: 33.3333%;
	padding: 0 14px;
	position: relative;
	&:before{
		content: '';
		display: block;
		padding: 56.4285% 0 0;
	}
	img{
		top: 0;
		left: 14px;
		height: 100%;
		display: block;
		overflow: hidden;
		object-fit: cover;
		position: absolute;
		width: calc(100% - 28px);
	}
	iframe{
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
	}
}

.games-list-sorting{
	display: flex;
	margin: 20px 0 30px;
	align-items: center;
	justify-content: flex-start;
	@include breakpoint($mobile) {
		display: block;
		position: relative;
	}
	&__title{
		display: block;
		font-size: 24px;
		line-height: 1.2;
		margin: 0 22px 0 0;
		white-space: nowrap;
		font-weight: normal;
		@include breakpoint($mobile) {
			margin: 0;
			background: #fff;
			border-radius: 7px;
			position: relative;
			border: 1px solid #c2c2c2;
			transition: all .35s ease;
			padding: 7px 35px 4px 15px;
			&:after{
				top: 50%;
				right: 15px;
				content: '';
				width: 14px;
				height: 14px;
				margin: -10px 0 0;
				position: absolute;
				border-style: solid;
				border-color: #c2c2c2;
				transform: rotate(45deg);
				border-width: 0 2px 2px 0;
				transition: all .35s ease;
			}
		}
		@include breakpoint($mobile-small) {
			font-size: 18px;
			line-height: 1.5;
			&:after{
				width: 10px;
				height: 10px;
				margin-top: -7px;
			}
		}
	}
	&__list{
		padding: 0;
		display: flex;
		margin: 0 -8px;
		flex-wrap: wrap;
		list-style: none;
		align-items: center;
		justify-content: flex-start;
		@include breakpoint($mobile) {
			margin: 0;
			opacity: 0;
			z-index: 150;
			top: -9999px;
			left: -9999px;
			right: 9999px;
			display: block;
			background: #fff;
			overflow: hidden;
			position: absolute;
			border-style: solid;
			border-color: #c2c2c2;
			border-width: 0 1px 1px;
			border-radius: 0 0 7px 7px;
			transition: all 0s ease .35s, opacity .35s ease;
		}
		&__item{
			margin: 0 8px;
			font-size: 16px;
			line-height: 19px;
			font-weight: bold;
			@include breakpoint($mobile) {
				margin: 0;
				font-size: 18px;
				line-height: 22px;
				font-weight: normal;
			}
			@include breakpoint($mobile-small) {
				font-size: 16px;
				line-height: 19px;
			}
			a{
				display: flex;
				background: #fff;
				min-width: 131px;
				padding: 5px 15px;
				text-align: center;
				position: relative;
				border-radius: 7px;
				align-items: center;
				justify-content: center;
				border: 1px solid #c2c2c2;
				transition: all .35s ease;
				@include breakpoint($mobile) {
					border: none;
					border-radius: 0;
					padding-top: 10px;
					padding-bottom: 10px;
					justify-content: flex-start;
				}
				&:hover{
					background: #e7e7e7;
				}
			}
			img{
				top: -8px;
				left: -8px;
				position: absolute;
				@include breakpoint($mobile) {
					display: none;
				}
			}
			&.active{
				a{
					background: #e7e7e7;
					border-color: #e7e7e7;
				}
			}
		}
	}
	&.open{
		@include breakpoint($mobile) {
			.games-list-sorting{
				&__title{
					border-bottom-color: #fff;
					border-radius: 7px 7px 0 0;
					&:after{
						margin-top: -2px;
						transform: scaleY(-1) rotate(45deg);
					}
				}
				&__list{
					left: 0;
					right: 0;
					top: 100%;
					opacity: 1;
					transition: opacity .35s ease;
				}
			}
		}
	}
}

.category-title{
	padding: 0;
	color: #000;
	display: flex;
	font-size: 14px;
	line-height: 1.2;
	margin: 0 -2px 15px;
	align-items: flex-start;
	justify-content: flex-start;
	@include breakpoint($mobile-small) {
		font-size: 12px;
		margin-bottom: 5px;
	}
	dt, dd{
		padding: 0;
		margin: 0 2px;
	}
	a{
		color: #0077b3;
		border-bottom: 1px solid;
		transition: color .35s ease, border-color .35s ease;
		&:hover{
			color: darken(#0077b3,10);
			border-bottom-color: transparent;
		}
	}
}

.game-section-inner{
	@include breakpoint($mobile) {
		display: flex;
		flex-direction: column;
	}
	.text-content{
		@include breakpoint($mobile) {
			order: 5;
		}
	}
	.tags-list{
		@include breakpoint($mobile) {
			order: 10;
		}
	}
	.article{
		@include breakpoint($mobile) {
			margin-top: 15px;
		}
	}
}

.games-group{
	margin: 0 0 20px;
	h4, .h4{
		display: block;
		color: #007aae;
		font-size: 18px;
		margin: 0 0 12px;
		line-height: 1.2;
		font-weight: normal;
		a{
			transition: border-color .35s ease;
			border-bottom: 1px solid transparent;
			&:hover{
				border-bottom-color: inherit;
			}
		}
	}
	&.pink{
		h4, .h4{
			color: #e400ff;
		}
		.games-group-list{
			a{
				border-color: #e400ff;
			}
		}
	}
}

.games-group-list{
	padding: 0;
	display: flex;
	margin: 0 -4px;
	flex-wrap: wrap;
	list-style: none;
	align-items: flex-start;
	justify-content: flex-start;
	> li{
		width: 20%;
		padding: 0 4px;
		margin: 0 0 8px;
	}
	&.wide{
		> li{
			width: 14.2857%;
		}
	}
	a{
		display: block;
		position: relative;
		border-radius: 6px;
		border: 1px solid #007aae;
		&:hover{
			.tooltip{
				left: 50%;
				opacity: 1;
				bottom: 100%;
				transition: opacity .35s ease;
			}
		}
		img{
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 6px;
			position: absolute;
		}
		&:before{
			content: '';
			display: block;
			padding: 100% 0 0;
		}
	}
	.tooltip{
		opacity: 0;
		width: 196px;
		z-index: 150;
		left: -9999px;
		bottom: 9999px;
		font-size: 16px;
		background: #fff;
		line-height: 1.2;
		font-weight: bold;
		position: absolute;
		color: $main-color;
		border-radius: 9px;
		pointer-events: none;
		padding: 7px 15px 6px;
		margin: 0 0 32px -21px;
		border: 2px solid $main-color;
		transition: all 0s ease .35s, opacity .35s ease;
		.arrow{
			top: 100%;
			left: 12px;
			width: 42px;
			height: 33px;
			overflow: hidden;
			position: absolute;
			&:before{
				left: 4px;
				bottom: 0;
				content: '';
				z-index: -10;
				position: absolute;
				transform: rotate(10deg);
				border-top: 42px solid $main-color;
				border-right: 36px solid transparent;
			}
			&:after{
				left: 4px;
				bottom: 0;
				content: '';
				z-index: -10;
				position: absolute;
				margin: 0 0 4px 2px;
				transform: rotate(10deg);
				border-top: 42px solid #fff;
				border-right: 36px solid transparent;
			}
		}
	}
}

.games-sidebar{
	width: 322px;
	flex-shrink: 0;
	margin: 0 36px 0 0;
	@media screen and (max-width: 1366px) {
		width: 300px;
		margin-right: 16px;
	}
	@media screen and (max-width: 1220px) {
		width: 248px;
	}
	@include breakpoint($tablet) {
		display: none;
	}
}

.games-sidebar-holder{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	> .clear-content{
		overflow: visible;
		width: calc(100% - 358px);
		@media screen and (max-width: 1366px) {
			width: calc(100% - 316px);
		}
		@media screen and (max-width: 1220px) {
			width: calc(100% - 264px);
		}
		@include breakpoint($tablet) {
			width: 100%;
		}
	}
}