{% extends "admin/base_site.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            Are you sure you want to execute this action on the selected items?
        </p>
        {% for order in orders %}
            <p>
                {{ order }}
            </p>
            <input type="hidden" name="_selected_action" value="{{ order.pk }}" />
        {% endfor %}

        <select name="tag">
            {% for o in tags %}
                <option value="{{ o.id}}">{{ o }}</option>
            {% endfor %}
        </select>
        <input type="checkbox" name="remove">Remove tag?

        <input type="hidden" name="action" value="add_tag" />
        <input type="submit" name="apply" value="Update tag"/>
    </form>
{% endblock %}
