<!DOCTYPE html>
<html>
<head>
    {% load static i18n catalog_tags compress %}
    <meta charset="utf-8">
    {% block meta_title %}
        <title>{{ settings.title }}</title>
    {% endblock %}
    {% block meta_description %}
        <meta name="description" content="{{ settings.meta_desc }}" />
    {% endblock %}
    {% block meta_keywords %}
        <meta name="keywords" content="{{ settings.meta_keywords }}" />
    {% endblock %}

    <link rel="alternate" hreflang="x-default" href="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}" />
    {% with request.LANGUAGE_CODE|length|add:1|stringformat:" la:" as sl %}
        {% for lang in languages_processed %}
            <link rel="alternate" hreflang="{{ lang.slug }}" href="{{ request.scheme }}://{{ request.get_host }}{% if not lang.slug == 'en' %}/{{ lang.slug }}{% endif %}{% if not request.LANGUAGE_CODE == 'en' %}{{ request.get_full_path|slice:sl }}{% else %}{{ request.get_full_path }}{% endif %}" />
        {% endfor %}
    {% endwith %}

    {% if request.GET.page or request.GET.show_all or request.GET.sort %}
        <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" />
    {% endif %}
    {% if request.GET.page %}
        <meta name="robots" content="noindex, follow"/>
    {% endif %}

    {% block og_scheme %}
    {% endblock %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "catalog/css/all.css" %}" type="text/css"/>
    {% endcompress %}

    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, user-scalable=no">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "catalog/images/favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "catalog/images/favicon/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "catalog/images/favicon/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "catalog/images/favicon/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "catalog/images/favicon/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "catalog/images/favicon/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "catalog/images/favicon/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "catalog/images/favicon/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "catalog/images/favicon/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "catalog/images/favicon/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "catalog/images/favicon/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "catalog/images/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "catalog/images/favicon/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "catalog/images/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "catalog/images/favicon/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#007aae">
    <meta name="msapplication-TileImage" content="{% static "catalog/images/favicon/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#007aae">
    {% for o in counters_top %}
        {{ o.content|safe }}
    {% endfor %}
</head>
<body{% if settings.background %} style="background-image:url('{{ settings.background.url }}');"{% endif %}>

{% block json-ld %}
{% endblock %}

<div id="language-code" style="display: none">{% if not request.LANGUAGE_CODE == 'en' %}{{ request.LANGUAGE_CODE }}{% endif %}</div>
<div id="language-url" style="display: none">{% if not request.LANGUAGE_CODE == 'en' %}/{{ request.LANGUAGE_CODE }}/{% else %}/{% endif %}</div>
<div id="domain" style="display: none">{{ request.scheme }}://{{ request.get_host }}</div>

<div id="wrapper">
    <header id="header">
        <div class="container">
            <a href="#" class="burger"><i></i></a>
            <strong class="logo">
                <a {% if settings.logo %} style="background: url({{ settings.logo.url }}) 50% 50%/contain no-repeat" {% endif %}href="{{ scheme }}://{{ request.get_host }}{% if not request.LANGUAGE_CODE == 'en' %}/{{ request.LANGUAGE_CODE }}/{% endif %}">{% trans 'free games BOOM' %}</a>
            </strong>
            <div class="header-main-content">
                <div class="top-panel">
                    <div class="settings-panel">
                        <form class="search-form hide-on-t" action="">
                            <fieldset>
                                <input name="q" type="text" class="text search-autocomplete" placeholder="{% trans 'Find more 100000 games' %}">
                                <button class="btn-search">{% trans 'Search' %}</button>
                            </fieldset>
                        </form>
                    </div>
                    <ul class="links-list">
                        {% if menu_button %}
                            {% for o in menu_button %}
                                <li>
                                    <a href="{% if not request.LANGUAGE_CODE == 'en' %}/{{ request.LANGUAGE_CODE }}{% endif %}{{ o.url }}">
                                        <span class="visual">{% if o.icon %}<span class="icon"><img width="22" src="{{ o.icon.url }}" alt="image description"></span>{% endif %}</span>
                                        <span class="hide-on-ms">{{ o.title }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        <li>
                            <a href="#">
                                <span class="visual"><span class="icon"><img width="22" src="{% static 'catalog/images/icon-new.png' %}" alt="image description"></span></span>
                                <span class="hide-on-ms">{% trans 'New' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="visual"><span class="icon"><img width="22" src="{% static 'catalog/images/icon-popular.png' %}" alt="image description"></span></span>
                                <span class="hide-on-ms">{% trans 'Popular' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="" data-modal="games-modal">
                                <span class="visual">
                                    <span class="icon">
                                        <i class="icon-fav"></i>
                                    </span>
                                    <span id="favourite-total"></span>
                                </span>
                                <span class="hide-on-ms">{% trans 'Favourite <br>games' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="" data-modal="games-modal">
                                <span class="visual">
                                    <span class="icon">
                                        <i class="icon-repeat"></i>
                                    </span>
                                    <span id="last_played-total"></span>
                                </span>
                                <span class="hide-on-ms">{% trans 'Last <br>played' %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <nav id="nav">
                    <form class="search-form show-on-t" action="">
                        <fieldset>
                            <input type="text" name="q" class="text search-autocomplete" placeholder="{% trans 'Find more 100000 games' %}">
                            <button class="btn-search">{% trans 'Search' %}</button>
                        </fieldset>
                    </form>
                    {% category_menu block_vertical block_horizontal %}
                </nav>
            </div>
        </div>
    </header>

    <main id="main">
        <div class="default-section">
            <div class="container">
                <div class="games-sidebar-holder">
                    <div class="games-sidebar">
                        {% for block in block_vertical %}
                            {% include 'catalog/inclusions/games-group.html' with wide=0 %}
                        {% endfor %}
                    </div>
                    <div class="clear-content">
                        <div class="col-row offset-20 hide-on-t">
                            {% for block in block_horizontal %}
                                <div class="col l-6">
                                    {% include 'catalog/inclusions/games-group.html' with wide=1 %}
                                </div>
                            {% endfor %}
                        </div>
                        {% if banner_top %}
                            <div class="place-block">{{ banner_top.code|safe }}</div>
                        {% endif %}
                        {% block default_section %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block bottom_section %}
        {% endblock %}
    </main>

    <footer id="footer">
        <div class="container">
            <span class="copyright">&copy; 2001 - {% now "Y" %} FREEGAMESBOOM SA </span>
            <div class="footer-main-content">
                {% include 'catalog/inclusions/language_select.html' %}
                <div class="footer-content">
                    <div class="socials">
                        {% if footer_social %}
                            {{ footer_social|safe }}
                        {% else %}
                            <img src="{% static "catalog/images/socials.png" %}" alt="image description">
                        {% endif %}
                    </div>
                    <ul class="footer-list">
                        {% for cat in menu_footer %}
                            <li><a href="{{ scheme }}://{{ request.get_host }}{% if not request.LANGUAGE_CODE == 'en' %}/{{ request.LANGUAGE_CODE }}{% endif %}{{ cat.get_absolute_url }}">{{ cat }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal-holder games-modal" data-id="games-modal">
        <span class="bg"></span>
        <div class="modal-inner">
            <div class="modal wide-modal">
                <span class="modal-bg"></span>
                <i class="close-modal close-icon"></i>
                <div class="modal-ajax-content"></div>
            </div>
        </div>
    </div>

</div>
<span class="resolution-tablet"></span>
<span class="resolution-mobile"></span>
<span class="resolution-mobile-small"></span>

{% compress css %}
    <link rel="stylesheet" href="{% static 'catalog/css/flags.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'catalog/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static "catalog/css/lloyd.css" %}" type="text/css"/>
{% endcompress %}

<!-- Firebase Push Notification Frontend -->
<script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-messaging.js"></script>

{% compress js %}
    <script src="{% static "catalog/js/screenfull.js" %}"></script>
    <script src="{% static "catalog/js/all.js" %}"></script>
    <script src="{% static 'catalog/js/jquery-ui.js' %}"></script>
    <script src="{% static "catalog/js/lloyd.js" %}"></script>
    <script>
        $( function() {
            $( ".search-autocomplete" ).autocomplete({
                minLength: 3,
                select: function (event, ui) {
                    window.location = ui.item.url;
                }
            });
        });
    </script>
    <!-- Firebase Push Notification Frontend -->
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyDFcQFfaIf4tkEHyEadRmjxvZVYsT_LDT0",
            authDomain: "push-254808.firebaseapp.com",
            databaseURL: "https://push-254808.firebaseio.com",
            projectId: "push-254808",
            storageBucket: "",
            messagingSenderId: "795521926689",
            appId: "1:795521926689:web:8a36fe9be638296b654560"
        };
        firebase.initializeApp(firebaseConfig);

        if ('Notification' in window) {
            var messaging = firebase.messaging();
            subscribeNotification();
        }

        // Request notification
        function subscribeNotification() {
            messaging.requestPermission().then(function () {
                return messaging.getToken()
            }).then(function (token) {
                if (token) {
                    console.log(token);
                    sendTokenToServer(token)
                } else {
                    console.log("Не удалось получить токен.");
                    setTokenSentToServer(false);
                }
            }).catch(function (err) {
                console.log("Не удалось получить разрешение на показ уведомлений.", err);
                setTokenSentToServer(false);
            });
        }
        function sendTokenToServer(token) {
            if (!isTokenSentToServer(token)) {
                $.post('https://freegamesboom.com/push/add_token/', {token: token});
                setTokenSentToServer(token);
            } else {
                console.log('Токен уже был отправлен на сервер.');
            }
        }
        // используем localStorage для отметки того, что пользователь уже подписался на уведомления
        function isTokenSentToServer(token) {
            return window.localStorage.getItem('sentFirebaseMessagingToken') === token;
        }
        function setTokenSentToServer(token) {
            window.localStorage.setItem(
                'sentFirebaseMessagingToken',
                token ? token : ''
            );
        }
    </script>
    <!-- // END of Firebase Push Notification Frontend -->
{% endcompress %}

{% block js %}{% endblock %}

{% for o in counters_bottom %}
    {{ o.content|safe }}
{% endfor %}

</body>
</html>
