{% extends 'catalog/base.html' %}

{% load static i18n catalog_tags el_pagination_tags %}

{% block default_section %}
    <div class="container">
        <h1 class="page-title">{% trans 'Search' %}: "{{ request.GET.q }}"</h1>
        <div class="article">
            <div class="article__content">
                <ul class="games-list no-scroll">
                    {% if not request.GET.show_all %}
                        {% paginate total_items objects %}
                    {% endif %}
                    {% for entry in objects %}
                        {% include 'catalog/inclusions/_include_game_list.html' with obj=entry %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if not request.GET.show_all %}
            {% show_pages %}
        {% endif %}
    </div>
{% endblock %}
